doctype html 
html
  head
    title Sahil Dance Academy
    block scripts
    block style
  body
    nav#navbar
       ul
          div#logo 
              img(src="/static/img/logo.jpg")
              |    HDA
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class info]
          li #[a(href="/contact") contact us]
    block content
    footer#footer
      | Copyright © 2023 SahilDanceAcadmey.com | All rights reserved
      